In [105]:
import pandas as pd

In [106]:
data = pd.read_excel("D:\\OneDrive\\02_Programs\\2021-Data-competition-Shangdong\\烟台1-创意赛-城市新能源车充电桩安装位置规划\\表1烟台地区现有充电桩信息.xlsx")
data_2 = pd.read_excel("D:\\OneDrive\\02_Programs\\2021-Data-competition-Shangdong\\烟台1-创意赛-城市新能源车充电桩安装位置规划\\表2烟台地区充电站充电次数及充电量信息.xlsx")

In [107]:
data.head()

   序号         充电站名称            充电站地址         纬度          经度             充电桩名称
0   1  烟台芝罘区通世南路充电站  烟台市芝罘区通世南路朗郡停车场  37.476558  121.381126  3122120022012057
1   2  烟台芝罘区通世南路充电站  烟台市芝罘区通世南路朗郡停车场  37.476558  121.381126  3122120022012056
2   3  烟台芝罘区通世南路充电站  烟台市芝罘区通世南路朗郡停车场  37.476558  121.381126      012220060748
3   4  烟台芝罘区通世南路充电站  烟台市芝罘区通世南路朗郡停车场  37.476558  121.381126      012220060769
4   5  烟台芝罘区通世南路充电站  烟台市芝罘区通世南路朗郡停车场  37.476558  121.381126      012220060787

In [108]:
data_2.drop(columns=['序号'], inplace=True)
data_2.head()

                  充电站      年月   充电量（kWh）    次数
0           烟台高新区公交场站  202109  147737.44  1857
1          烟台泓澳新能源充电站  202109  135702.52  3621
2          烟台莱山长宁路充电站  202109  125802.78  5098
3          烟台康和新城公交场站  202109  120385.80  1948
4  山东省烟台市开发区天马相城公交充电站  202109  117562.77  1236

In [109]:
xx = data.groupby('充电站名称', sort=False).sum()
xx.head()

                序号          纬度           经度
充电站名称
烟台芝罘区通世南路充电站    21  224.859348   728.286756
山东华鼎老市政府院里充电站   24  112.583772   364.157409
烟台阳光家居充电站      280  600.885904  1941.852480
山东华鼎芝罘区政府充电站    81  112.621623   364.200393
烟台浩福充电站        260  299.830304   970.988432

In [110]:
data_processing = pd.DataFrame(data['充电站名称'].value_counts(sort=False))
data_processing.columns = ['Number of charging piles']
data_processing.head()

               Number of charging piles
烟台芝罘区通世南路充电站                          6
山东华鼎老市政府院里充电站                         3
烟台阳光家居充电站                            16
山东华鼎芝罘区政府充电站                          3
烟台浩福充电站                               8

In [111]:
xx['序号'] = data_processing['Number of charging piles']
xx.reset_index(inplace=True)
xx.head()

           充电站名称  序号          纬度           经度
0   烟台芝罘区通世南路充电站   6  224.859348   728.286756
1  山东华鼎老市政府院里充电站   3  112.583772   364.157409
2      烟台阳光家居充电站  16  600.885904  1941.852480
3   山东华鼎芝罘区政府充电站   3  112.621623   364.200393
4        烟台浩福充电站   8  299.830304   970.988432

In [112]:
xx['纬度'] = xx['纬度']/xx['序号']
xx['经度'] = xx['经度']/xx['序号']
xx.head()

           充电站名称  序号         纬度          经度
0   烟台芝罘区通世南路充电站   6  37.476558  121.381126
1  山东华鼎老市政府院里充电站   3  37.527924  121.385803
2      烟台阳光家居充电站  16  37.555369  121.365780
3   山东华鼎芝罘区政府充电站   3  37.540541  121.400131
4        烟台浩福充电站   8  37.478788  121.373554

In [121]:
xx.rename(columns={'序号':'Number of charging piles','充电站名称':'充电站' }, inplace=True)
xx.to_csv('data_process.csv', encoding='utf_8_sig')

In [117]:
xx.head()

             充电站  Number of charging piles         纬度          经度
0   烟台芝罘区通世南路充电站                         6  37.476558  121.381126
1  山东华鼎老市政府院里充电站                         3  37.527924  121.385803
2      烟台阳光家居充电站                        16  37.555369  121.365780
3   山东华鼎芝罘区政府充电站                         3  37.540541  121.400131
4        烟台浩福充电站                         8  37.478788  121.373554

In [118]:
xx_2 = pd.merge(data_2, xx)
xx_2.head()

,充电站,年月,充电量（kWh）,次数,Number of charging piles,纬度,经度
0,烟台高新区公交场站,202109,147737.44,1857,17,37.411116,121.530138
1,烟台泓澳新能源充电站,202109,135702.52,3621,12,37.784622,120.764465
2,烟台莱山长宁路充电站,202109,125802.78,5098,25,37.447031,121.438939
3,烟台康和新城公交场站,202109,120385.80,1948,9,37.508728,121.323249
4,山东省烟台市开发区天马相城公交充电站,202109,117562.77,1236,16,37.580740,121.175610

In [122]:
xx_2.to_csv('data_emerge_all.csv', encoding='utf_8_sig')

In [126]:
data_3 = pd.read_excel("D:\\OneDrive\\02_Programs\\2021-Data-competition-Shangdong\\烟台1-创意赛-城市新能源车充电桩安装位置规划\\表3国网烟台供电公司充电站信息.xlsx")

In [129]:
data_3.head()

                  站名称  月均充电量(kWh)  月均充电次数
0  山东省烟台市开发区天马相城公交充电站       95210    1027
1    烟台市芝罘区亚太婚庆产业园充电站       44000    1916
2       山东省烟台市莱山光华充电站       35900    1837
3       山东省烟台市芝罘黄务充电站       31220    1493
4      山东省烟台市莱州东环路充电站       30600    1294

In [131]:
data_3.drop(columns=['序号', '充电桩个数（个）', '纬度', '经度'], inplace=True)

KeyError: "['序号' '充电桩个数（个）' '纬度' '经度'] not found in axis"

In [132]:
data_3.rename(columns={'站名称':'充电站'}, inplace=True)

In [133]:
xx_3 = pd.merge(data_3, xx_2)
xx_3.head()

,充电站,月均充电量(kWh),月均充电次数,年月,充电量（kWh）,次数,Number of charging piles,纬度,经度
0,山东省烟台市开发区天马相城公交充电站,95210,1027,202109,117562.77,1236,16,37.580740,121.175610
1,烟台市芝罘区亚太婚庆产业园充电站,44000,1916,202109,51976.69,2246,4,37.508682,121.361015
2,山东省烟台市莱山光华充电站,35900,1837,202109,64413.98,3201,8,37.467384,121.443810
3,山东省烟台市芝罘黄务充电站,31220,1493,202109,45224.05,2237,12,37.463306,121.372010
4,山东省烟台市莱州东环路充电站,30600,1294,202109,34870.96,1435,8,37.189556,119.982570

In [134]:
xx_3.to_csv('data_emerge_NPG.csv', encoding='utf_8_sig')